body {
  margin: 0;
  border: .8rem solid black;
  height: 100svh;
  box-sizing: border-box;
}

#app {
  display: flex;
  width: 100%;
}

#app div {
  background-color: brown;
  flex-grow: 1;
  width: 1px;
  transition: height 0.1s;
}